<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Form Header -->
    <div class="fadeIn first">
      <h1>Register form</h1>
    </div>

    <!-- Register Form -->
    <form>
      <!-- First name input -->
      <div>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput placeholder="First name">
        </mat-form-field>
      </div>

      <!-- Last name input -->
      <div>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput placeholder="Last name">
        </mat-form-field>
      </div>

      <!-- User image -->
      <div>
        TODO PICTURE FROM WEBCAM
        <div>
          <img class="icon" src="/assets/svg/user.svg" height="200px" width="200px" style="margin: 20px">
        </div>
      </div>

      <!-- Submit button -->
      <div>
        <a mat-raised-button color="accent">Register</a>
      </div>

      <div>
        <a routerLink="/login" style="margin-top: 10px; color: black">Do you already have an account?</a>
      </div>


    </form>

  </div>
</div>
