<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Form Header -->
    <div class="fadeIn first">
      <h1>Login form</h1>
    </div>

    <!-- Login Form -->
    <form>
      <!-- User image -->
      <div>
        <webcam
          [height]="480"
          [width]="640"
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          *ngIf="showWebcam"
          (initError)="handleInitError($event)"
        ></webcam>
      </div>

      <div *ngIf="!showWebcam" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

      <!-- First name input -->
      <div *ngIf="isEmailNeeded">
        <mat-form-field>
          <mat-label>Email:*</mat-label>
          <input matInput placeholder="Email:*" [(ngModel)]="email" name="email">
        </mat-form-field>
      </div>

      <!-- Submit button -->
      <div>
        <a class="custom-margin" mat-raised-button color="accent" [disabled]="!showWebcam || isCameraError" (click)="triggerSnapshot()">Login</a>
      </div>
      <!-- Alert dialog -->
      <div *ngIf="isErrorShown" class="custom-margin">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>

      <div>
        <a routerLink="/register" style="margin-top: 10px; color: black">Don't have an account?</a>
      </div>


    </form>

  </div>
</div>
