<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Form Header -->
    <div class="fadeIn first">
      <h1>Login form</h1>
    </div>

    <!-- Login Form -->
    <form>
      <!-- User image -->
      <div>
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        ></webcam>
      </div>

      <!-- Submit button -->
      <div>
        <a mat-raised-button color="accent" (click)="triggerSnapshot()">Login</a>
      </div>
      <!-- Alert dialog -->
      <div *ngIf="isErrorShown" class="alertDialog">
        <div class="alert alert-danger" role="alert">
          You are not registered in
        </div>
      </div>

      <div>
        <a routerLink="/register" style="margin-top: 10px; color: black">Don't have an account?</a>
      </div>


    </form>

  </div>
</div>
