<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Form Header -->
    <div class="fadeIn first">
      <h1>Login form</h1>
    </div>

    <!-- Login Form -->
    <form>
      <!-- User image -->
      <div>
        TODO PICTURE FROM WEBCAM
        <div>
          <img class="icon" src="/assets/svg/user.svg" height="200px" width="200px" style="margin: 20px">
        </div>
      </div>

      <!-- Submit button -->
      <div>
        <a mat-raised-button color="accent">Login</a>
      </div>

      <div>
        <a routerLink="/register" style="margin-top: 10px; color: black">Don't have an account?</a>
      </div>


    </form>

  </div>
</div>
